@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes-Bold.woff) format("woff");
    src: url(font/TTLakes-Bold.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes-Medium.woff) format("woff");
    src: url(font/TTLakes-Medium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes-Regular.woff) format("woff");
    src: url(font/TTLakes-Regular.woff2) format("woff2");
    font-weight: 400;
}

/* ОСНОВНЫЕ И ОБЩИЕ СТИЛИ */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;

    font-family: "TT Lakes", sans-serif;

    background: linear-gradient(#fff 12%, #f8f8f8 12%);
    border-top: 2px solid #D9FFF5;
}

.container {
    max-width: 1120px;

    margin: 0 auto;
    padding: 16px;
}

a, button {
    padding: 0;
    margin: 0;

    display: inline-block;

    cursor: pointer;
    border: none;
    background: none;

    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

h1 {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 400;
    color: #7E7E82;
    text-transform: uppercase;
}

/* Firms */

.firms {
    margin-top: 30px;
}

.firms__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    padding: 0 16px;

    width: 240px !important; 
    height: 72px !important;
}

.item__btn:active {
    filter: opacity(0.8);
}

.item__btn:hover {
    filter: contrast(200%);
    transform: scale(1.1);
}

.more__btn {
    display: none;
}

/* Пагинация */

.swiper-pagination {
    position: relative !important;
    margin-top: 16px;
}

.swiper-pagination-bullet {
    background-color: #DDD !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC !important;
    opacity: 1 !important; 
}

/* АДАПТИВ ПОД 784px */

@media (min-width: 784px) {
    body {
        background: linear-gradient(#fff 10%, #f8f8f8 10%);
    }

    .container {
        padding-left: 24px;
    }

    .firms {
        overflow: hidden;
        max-height: 160px; 
    }

    .firms .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        overflow: visible;
    }

    .firms__item {
        min-width: 220px; 
    }

    .swiper-pagination {
        display: none;
    }

    .more__btn {
        display: inline-flex;
        align-items: center;

        margin-top: 24px;
        gap: 8px;

        font-weight: 500;
    }

    /* Классы для JS */

    .firms.firms--open {
        max-height: 1000px; 
    }

    .rotate {
        transform: rotate(180deg);
    }
}

/* АДАПТИВ ПОД 1120px */

@media (min-width: 1120px) {
    body {
        background: linear-gradient(#fff 12%, #f8f8f8 12%);
    }

    .container {
        padding: 32px;
    }

    .firms .swiper-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}