@font-face {
	font-family: "TT Lakes";
	src: url(font/TTLakes-Bold.woff) format("woff");
	src: url(font/TTLakes-Bold.woff2) format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: "TT Lakes";
	src: url(font/TTLakes-Medium.woff) format("woff");
	src: url(font/TTLakes-Medium.woff2) format("woff2");
	font-weight: 500;
}

@font-face {
	font-family: "TT Lakes";
	src: url(font/TTLakes-Regular.woff) format("woff");
	src: url(font/TTLakes-Regular.woff2) format("woff2");
	font-weight: 400;
}

/* ОСНОВНЫЕ И ОБЩИЕ СТИЛИ */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "TT Lakes", sans-serif;
	font-size: 14px;
	background-color: #f8f8f8;
	color: #1b1c21;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 24px 16px;
}

button,
a {
	display: block;
	padding: 0;
	margin: 0;

	border: none;
	background: none;

	font: inherit;
	color: inherit;

	cursor: pointer;

	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* HEADER */

.header {
	background-color: #fff;

	border-bottom: 1px solid #d9fff5;
}

.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu--left {
	display: flex;
	align-items: center;

	gap: 16px;
}

.header__menu__nav {
	display: flex;

	align-items: center;
	gap: 16px;
}

.header__menu--more {
	display: none;
}

.header__menu__actions {
	display: flex;
	gap: 16px;
}

.header__menu__separator {
	width: 2px;
	height: 32px;

	background-color: #eaeaea;
	border-radius: 1px;
}

.header__menu__separator--left,
.header__menu__separator--center {
	display: none;
}

.header__menu__separator--right {
	display: block;
}

/* SERVICES */

.services__title {
	position: relative;
	font-size: 28px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -0.6px;

	margin-bottom: 24px;
}

.services__title::before {
	content: "";
	position: absolute;
	height: 40px;
	width: 4px;
	left: -16px;
	background-color: #41f6d7;
	border-radius: 3px;
}

.services__icons {
	display: none;
}

.services__icons a:hover {
	filter: brightness(0.85);
}

.tabs {
	display: flex;

	white-space: nowrap;

	font-size: 16px;
	color: #7e7e82;
	letter-spacing: -0.2px;

	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding: 0;

	-webkit-overflow-scrolling: touch;

	width: 100%;
	list-style: none;
}

.tabs::-webkit-scrollbar {
	display: none;
}

.tabs__link {
	padding: 8px 16px;

	transition: color 0.3s ease-in;
	border: 2px solid transparent;
}

.tabs__link:hover {
	color: #1b1c21;
}

.tabs__link--active {
	border-color: #b8ffec;
	background-color: #fff;
	border-radius: 5px;
	width: max-content;
}

.tabs__link--desktop {
	display: none;
}

.services__info {
	margin-top: 24px;
}

.services__text {
	line-height: 20px;
	letter-spacing: 0.2px;
}

.services__desktop {
	display: none;
}

.read_more {
	letter-spacing: -0.2px;
	font-size: 16px;
	font-weight: 500;
}

.read_more__icon {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 32px;
	margin-top: 10px;
}

.services__img {
	display: block;
	transform: scale(1.2);
}

.services__text {
	max-height: 100px;
	overflow-y: hidden;
}

/* АДАПТИВ */

@media (min-width: 768px) {
	.services__img {
		transform: scale(1.1);
	}
}

@media (min-width: 784px) {
	.container {
		padding-left: 24px;
	}

	/* HEADER */

	.header__menu--more {
		display: flex;
		gap: 16px;
	}

	.header__menu__separator--left,
	.header__menu__separator--center {
		display: block;
	}

	.header__menu__separator--right {
		display: none;
	}

	/* services */

	.services__title::before {
		left: -24px;
	}

	.services__info {
		display: flex;
		gap: 34px;
		align-items: flex-start;
	}

	.services__img {
		border-radius: 6px;
		width: calc(100% - 32px);
		transform: none;
	}

	.services__text {
		max-height: 98px;
		overflow-y: hidden;
		
		margin: 0;
	}
}

@media (min-width: 1120px) {
	.container {
		padding-left: 32px;
	}

	/* HEADER */

	.header {
		display: none;
	}

	/* SERVICES */

	.services__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	.services__title {
		margin-bottom: 8px;
	}

	.services__title::before {
		left: -32px;
	}

	.services__icons {
		display: flex;
		align-items: center;
		gap: 32px;
		padding-right: 20px;
	}

	.services__icons a {
		display: flex;
		align-items: center;
		gap: 8px;

		font-size: 16px;
		font-weight: 500;

		transition: color 0.3s ease-in;
	}

	.btnn {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;

		font-size: 16px;
	}

	.tabs {
		overflow-x: hidden;
		white-space: normal;
		display: grid;
		grid-template-columns: repeat(5, auto);
	}

	.tabs__link--mobile {
		display: none;
	}

	.tabs__link--desktop {
		display: block;
	}

	.tabs__link--active {
		background: none;
		border: none;
	}

	.tabs__link:first-child {
		background-color: #fff;
		border: 2px solid #b8ffec;
		border-radius: 5px;
	}

	.services__info {
		display: grid;
		grid-template-columns: 0.9fr 1fr;
		gap: 40px;
	}

	.services__desktop {
		display: inline;
	}

	.services__img {
		width: 95%;
	}

	.read_more {
		margin-top: 13px;
	}

	.services__text {
		max-height: 100%;
		overflow: visible;
	}
}
